.log_content1{
	height:29px;
	line-height:29px;
	 overflow:hidden;
}
.log_content1_left{font-size:12px;color:#333;}
.log_content1_right{float:right;font-size:12px;color:#333;}
.log_content1_right a{color:#333;}
a:hover, a:visited,a:active {
   text-decoration: none;
   color: #333;
}
.log_content2{background-color:#ffb696;width:100%;}
.log_content2_img{margin:15px 0;}
.log_content2_nav li{float:right;list-style-type:none;width:20%;text-align: center;border-right:1px solid #fff;margin:40px 0;font-size:20px;}
.log_content2_nav a{color:#fff;}
.log_content2_nav a:hover{font-weight: bold;border-bottom:1px solid #fff;padding-bottom:10px;}
.active a{font-weight: bold;border-bottom:1px solid #fff;padding-bottom:10px;}
.log_bgcolor{background-color:#fef6ed;}
.log_banner{position: relative;}
.log_banner_icon{position: absolute;width:100%;text-align: center;z-index:999;}
.swiper-pagination-bullet{border-radius: 50%;border:1px solid #333;width:20px;height:20px;list-style-type:none;margin-right:30px;display: inline-block;}
.log_title{padding:0 307px;height:80px;line-height: 80px;background-color:#fff;margin-top:20px;}
.log_title ul{padding-left:0px;}
.log_title ul li{list-style:none;display: inline-block;width:32%;text-align: center;font-size:20px;}
/*.log_title ul li:hover{border-bottom:1px solid #ffb696;}*/
.log_title ul .on{border-bottom:1px solid #ffb696;font-weight:bold;}
.log_title ul li a{color:#333;}
 .log_title ul li a:hover{ text-decoration:none;} 
.subnav{padding:15px 0 0 0;font-size:16px;color:#333;}
.main{padding:151px 157px 160px 119px}
.main .button1{background-color:#ffb696;border-radius: 5px;font-size:18px;color:#fff;border:none;padding:12px 58px;}
.main2{padding:42px 37px 103px 37px;}
.main2 .main2_p1{text-align: center;font-size:18px;color:#333;}
.main2 .active{border:2px solid #ffb696;padding:30px 30px 0px 30px;}
.main2_list{display: inline-block;width:278px;text-align: center;margin-top:27px;margin-bottom:74px;}
.main2_list_p{padding-top:21px;font-size:16px;color:#333;}
.main2_list_img{position: absolute;bottom:0;right:0;}
.main2_list div{border:none;background-color:#fef6ed;position:relative;}
.main2 .button_div{text-align: center;}
.main2 .button2{background-color:#ffb696;border-radius: 5px;font-size:18px;color:#fff;border:none;padding:12px 58px;}
.main3{padding:42px 37px 103px 37px;}
.main3 .main3_p1{text-align: center;font-size:18px;color:#333;}
.main3 .active{border:2px solid #ffb696;padding:30px 30px 0px 30px;}
.main3_list{display: inline-block;width:372px;text-align: center;margin-top:100px;margin-bottom:127px;}
.main3_list_p{padding-top:21px;font-size:16px;color:#333;}
.main3_list_img{position: absolute;bottom:0;right:0;}
.main3_list button{border:none;background-color:#fef6ed;position:relative;}
.main3 .button_div{text-align: center;}
.main3 .button2{background-color:#ffb696;border-radius: 5px;font-size:18px;color:#fff;border:none;padding:12px 58px;}
.main4{padding:42px 37px 103px 37px;}
.main4 .main4_p1{text-align: center;font-size:18px;color:#333;margin-bottom:90px;}
.main4 .active{background-color:#ffb696;color:#fff;background-image: url(../img/matching/icon2.png);background-repeat:no-repeat;background-position:right bottom;border-radius: 10px;}
.main4_list{display: inline-block;width:250px;height:80px;line-height: 80px; text-align: center;margin-bottom:50px;border-radius: 10px;font-size:20px;color:#333;background-color:#fff;margin-right:28px;}
.main4_list_p{padding-top:21px;font-size:16px;color:#333;}
.main4 .button_div{text-align: center;}
.main4 .button2{background-color:#ffb696;border-radius: 5px;font-size:18px;color:#fff;border:none;padding:12px 58px;}
.main5 .main5_p1{text-align: center;font-size:18px;color:#333;margin-bottom:40px;margin-top:26px;}
.main5 .main5_p2{text-align: center;font-size:16px;color:#333;}
.main5 .main_content{padding:36px 0 63px 0;}
.main_content .content_list{width:33%;float:left;}
.content_list .news-item{position: relative;text-align: center; margin:0 auto; margin-bottom:40px;}
.news_pic img{width: 156px;height:156px;border-radius: 156px;position: absolute;top:15px;left:50%;margin-left:-78px;transition:0.3s all;}
.news-t1, .news-t2 , .news-t3 , .news-t4{
    position: absolute;
	width: 100%;}
.news-t1{top:189px;font-size:16px;}
.news-t2{top:216px;font-size:16px;color:#ffb696;}
.news-t3{top:243px;font-size:16px;}
.news-t4{top:270px;font-size:16px;}
.news-t5{top:322px;font-size:16px;position: absolute;width:260px;text-align: left;left:52px;}
.news-t6{top:402px;font-size:16px;position: absolute;left:277px;color:#ffb696;}
.news-item:hover .news_pic img{width:131px;height:131px;margin-left:-65.5px;top:21px;transition:all 0.3s}
.page{
	width:383px;
	margin:0 auto 64px auto;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #ffb696;
    margin: 5px;
    background-color: #ffb696;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #ffb696;
    background-color: #ffb696;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}

.g-footer{
    background-color: white;
    height: 272px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
}
.g-footer__wrap{
    width: 1000px;
    height: 72px;
    margin: 0 auto;
    display: flex;
}
.g-footer__a, .g-footer__c{
    flex: 1;
}
.g-footer__text{
    margin: 0;
    padding-left: 62px;
    font-size: 14px;
}
.g-footer__b{
    width: 85px;
    justify-content: center;
    display: flex;
}
.g-footer__logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.g-footer__slogan{
    font-size: 20px;
    padding-left: 36px;
    margin-top: 20px;
}
